---
---

@import "{{ site.theme }}";

h2 {
  margin-top: 60px;
}

li {
  padding-bottom: 10px;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 50% ;
}

td.img {
  width: 100%;
  height: auto;
}
