---
---

@import "{{ site.theme }}";

h2 {
  margin-top: 60px;
}

li {
  padding-bottom: 10px;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 50% ;
}

td div {
  height: inherit;
  width: inherit;
  overflow: hidden;
  box-sizing: border-box;
}

td div img {
  width: 250px;
  height: auto;
}
